.e28_221 { 
	box-shadow:0px 7px 4px rgba(0, 0, 0, 0.25);
	width:1359px;
	height:784px;
	position:absolute;
}
.e40_146 { 
	width:1920px;
	height:1440px;
	position:absolute;
	left:-240px;
	top:-381px;
	background-image:url(img/editted/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_166 { 
	background-image:linear-gradient(0deg, rgba(196.4800089597702, 248.0000004172325, 86.9999948143959, 1) 0%,rgba(255, 98.01999628543854, 87.99999475479126, 1) 100%) ;
	width:1482px;
	height:805px;
	position:absolute;
	left:0px;
	top:-21px;
}
.landing_page_header { 
	color:rgba(255, 255, 255, 1);
	width:784px;
	height:61px;
	position:absolute;
	left:32px;
	top:432px;
	font-family:Roboto;
	text-align:left;
	font-size:52px;
	letter-spacing:0;
}
.e28_189 { 
	color:rgba(255, 255, 255, 1);
	width:541px;
	height:84px;
	position:absolute;
	left:110px;
	top:224px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e28_192 { 
	background-image:linear-gradient(0deg, rgba(71.00000336766243, 118.00000056624413, 230.00000149011612, 1) 0%,rgba(142.00000673532486, 84.00000259280205, 233.00000131130219, 1) 100%) ;
	width:200px;
	height:50px;
	position:absolute;
	left:110px;
	top:552px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei28_192_64_1163 { 
	color:rgba(255, 255, 255, 1);
	width:48px;
	height:21px;
	position:absolute;
	left:76px;
	top:14.5px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e226_795 { 
	width:448px;
	height:19px;
	position:absolute;
	left:720px;
	top:67px;
}
.e28_191 { 
	width:374px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei28_191_8_215 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei28_191_8_216 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:19px;
	position:absolute;
	left:84px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei28_191_8_217 { 
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:19px;
	position:absolute;
	left:161px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei28_191_8_218 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:19px;
	position:absolute;
	left:244px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei28_191_8_219 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:19px;
	position:absolute;
	left:334px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_195 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:19px;
	position:absolute;
	left:391px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e28_222 { 
	width:467.46240234375px;
	height:140px;
	position:absolute;
	left:24.537498474121094px;
	top:34px;
	background-image:url(img/editted/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_196 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1104px;
	top:16px;
}
.e28_197 { 
	border-radius:500px;
	background-color:rgba(243.00000071525574, 244.0000006556511, 246.0000005364418, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_198 { 
	width:9px;
	height:16.5px;
	position:absolute;
	left:4.5px;
	top:6.75px;
}
.i28_198_1_68 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei28_198_1_68 { 
	width:9px;
	height:16.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_199 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1219px;
	top:16px;
}
.e28_200 { 
	border-radius:500px;
	background-color:rgba(243.00000071525574, 244.0000006556511, 246.0000005364418, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_201 { 
	width:15.75px;
	height:11.25px;
	position:absolute;
	left:6.75px;
	top:9px;
}
.i28_201_1_81 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei28_201_1_81 { 
	width:15.75px;
	height:11.25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_202 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1162px;
	top:16px;
}
.e28_203 { 
	border-radius:500px;
	background-color:rgba(243.00000071525574, 244.0000006556511, 246.0000005364418, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_204 { 
	width:16.5px;
	height:16.5px;
	position:absolute;
	left:6.75px;
	top:6.75px;
}
.ei28_204_1_69 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.714284896850586px;
	height:16.714284896850586px;
	position:absolute;
	left:-0.10714283585548401px;
	top:-0.10714283585548401px;
}
.i28_204_1_70 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei28_204_1_70 { 
	width:15.714285850524902px;
	height:15.714285850524902px;
	position:absolute;
	left:0.5px;
	top:0.5px;
}
.i28_204_1_71 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei28_204_1_71 { 
	width:6.285721302032471px;
	height:6.2857208251953125px;
	position:absolute;
	left:5.248274803161621px;
	top:5.180140972137451px;
}
.i28_204_1_72 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei28_204_1_72 { 
	width:0.00749969482421875px;
	height:0px;
	position:absolute;
	left:12.678572654724121px;
	top:4.035714626312256px;
}
.landing_page_text { 
	color:rgba(243.00000071525574, 244.0000006556511, 246.0000005364418, 1);
	width:515px;
	height:78px;
	position:absolute;
	left:111px;
	top:327px;
	font-family:Roboto;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.sign_in { 
	background-color:rgba(255, 255, 255, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:956px;
	top:16px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei340_692_44_120 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:19px;
	position:absolute;
	left:35.5px;
	top:5.5px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
